<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Installer" Language="1033" Version="1.0.0.0"
           Manufacturer="Derek"
           UpgradeCode="4537a608-c4ba-4c40-bd7c-6fba12aad55d">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="HedgehogService" Title="Installer" Level="1">
      <ComponentRef Id="HedgehogService" />
      <ComponentRef Id="ShellUI" />
    </Feature>
    <Feature Id="MonkeyService" Title="Installer" Level="1">
      <ComponentRef Id="MonkeyService" />
      <ComponentRef Id="ShellUI" />
    </Feature>
    <Feature Id="ShellUI" Title="Installer" Level="1">
      <ComponentRef Id="ShellUI" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DerekCo" Name="DerekCo">
          <Directory Id="HedgehogService" Name="HedgehogService">
            <Component Id="HedgehogService" Guid="1DA5E6F3-D62D-417F-9869-56BC5266171B">
              <File Id="HedgehogService.dll" Name="HedgehogService.dll" Source="..\HedgehogService\bin\Debug\HedgehogService.dll" KeyPath="yes"  />
              <File Id="HedgehogService_CommonLibrary.dll" Name="CommonLibrary.dll" Source="..\HedgehogService\bin\Debug\CommonLibrary.dll" />
            </Component>
          </Directory>
          <Directory Id="MonkeyService" Name="MonkeyService">
            <Component Id="MonkeyService" Guid="82FE875B-1AAF-436F-8AE2-6DC81DFC269F">
              <File Id="MonkeyService.dll" Name="MonkeyService.dll" Source="..\MonkeyService\bin\Debug\MonkeyService.dll" KeyPath="yes" />
              <File Id="MonkeyService_CommonLibrary.dll" Name="CommonLibrary.dll" Source="..\MonkeyService\bin\Debug\CommonLibrary.dll" />
            </Component>
          </Directory>
          <Directory Id="DerekCo_ShellUI" Name="ShellUI">
            <Component Id="ShellUI">
              <File Id="ShellUI.dll" Name="ShellUI.exe" Source="..\ShellUI\bin\Debug\ShellUI.exe"  KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
